<article class="nextmeeting">
  <h1>Next Meeting</h1>
  <p>
  	<img src="<%=appdata.meeting.where.img%>" alt="Our Next Location">
  	Our Next meeting will be held on <%=appdata.meeting.date%>,<%=appdata.meeting.time%> at <%=appdata.meeting.where.name%>,<%=appdata.meeting.where.address%>
  </p>
  <p><%include socialmedia.ejs %></p>
  
</article>